.site-header {
    background-color: var(--color-purple);
    height: 140px;
    width: 1600px;
    /* position: fixed; */
    padding-top: 10px;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
}
.logo-pic {
    width: 30px;
    height: 30px;
}
.container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo-container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 110px;
    margin-left: 155px;
}
.logo-txt {
    font-family: "Montserrat";
    font-size: 24px;
    color: var(--white);
}
.logo-pic {
    padding-left: 10px;
}
.menu-container {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-right: 10px;
    margin-right: 10px;
}
.header-menu {
    list-style: none;
    padding: 0;
}
.menu-item {
    display: inline;
    margin-right: 30px;
    text-decoration: none;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-link {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 17px;
    color: var(--white);
    transition: 0.3s;
}
.menu-link:hover {
    color: var(--gold);
    border-bottom: 3px solid var(--gold);
    font-weight: bold;
}
.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.cart:hover {
    transform: scale(1.1);
}
.cart-img {
    margin-left: 5px;
}
.cart-price {
    color: var(--white);
    display: block;
    margin-right: 10px;
    transform: color 0.3s, font-size 0.3s;
}
.cart:hover .cart-price {
    color: var(--green);
    font-size: 1.1em;
}
.user-avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -20px;
}

.login-link {
    text-decoration: none;
    color: var(--white);
}
